html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    line-height: 1.2;
    color: $whiteColor;
    background-color: $darkColor;
}

a {
    color: $whiteColor;
    text-decoration: none;
    transition: color 0.3s;
    &:hover {
        color: $orangeColor;
    }
}

.overflow-fix {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.container {
    max-width: 1280px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

.page-content {
    padding-top: 89px;
}

h1 {
    font-size: 3.6rem;
    margin-bottom: 1.5rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1.4rem;
}

h3 {
    font-size: 2.1rem;
    margin-bottom: 1.3rem;
}

p {
    margin-bottom: 1.2rem;
}

.block__title {
    display: inline-block;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 74%,$orangeColorRGBA 74%,$orangeColorRGBA 90%,rgba(255,255,255,0) 90%);
}

