$darkColor: #050505;
$blueColor: #0d3ed1;
$orangeColor: #fc5a14;
$whiteColor: #ffffff;

@mixin verticalCenter {
    display: flex;
    align-items: center;
}

@mixin backgroundElement {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
} 